# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  GODOT_VERSION: 3.5.1
  EXPORT_NAME: opensus

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  export:
    name: Export
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:3.5.1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Linux Build
        run: |
          mkdir -v -p $GITHUB_WORKSPACE/build/linux
          cd $GITHUB_WORKSPACE/src
          godot -v --export "Client" $GITHUB_WORKSPACE/build/linux/$EXPORT_NAME.x86_64
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v1
        with:
          name: linux
          path: build/linux
      - name: macOS Build
        run: |
          mkdir -v -p $GITHUB_WORKSPACE/build/macos
          cd $GITHUB_WORKSPACE/src
          godot -v --export "macOS" $GITHUB_WORKSPACE/build/macos/$EXPORT_NAME.app
      - name: Upload macOS Artifact
        uses: actions/upload-artifact@v1
        with:
          name: macos
          path: build/macos
      - name: Windows Desktop Build
        run: |
          mkdir -v -p $GITHUB_WORKSPACE/build/windows-desktop
          cd $GITHUB_WORKSPACE/src
          godot -v --export "Windows Desktop" $GITHUB_WORKSPACE/build/windows-desktop/$EXPORT_NAME.exe
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v1
        with:
          name: windows-desktop
          path: build/windows-desktop
